.navbar-style2{
    background-color: #faf5eb !important;
    border-bottom: 1px solid #f0d8cc;
}
.navbar-user-icon{
    font-size: 1.2rem;
    color: #b34f21;
}
.navbar-car-icon{
    font-size: 1.2rem;
    color: #b34f21;
}

.navbar .container .navbar-brand img{
    width: 80px;
}